

<!--/.header-->
<div id="#top"></div>
<section id="home">
  <div class="banner-container"> <img src="images/banner.jpeg" alt="banner" />
    <div class="container banner-content">
      <div class="hero-text animated fadeInDownBig"> <a href="#" class="scroll-top logo animated bounceInLeft"><b>Win Win Auto Center</b></a>
        <h1 class="responsive-headline" style="font-size: 40px;color:white;">Welcome to your <strong>choice</strong> <br/>
          Automotive Dealership</h1>
          <h2> <a class="btn-lg btn-primary" href="http://www.winwinautocenter.com/vehicles">See our Cars</a></h2>
        <a href="#aboutUs" class="arrow-link"> <i class="fa fa-chevron-down fa-2x"></i> </a>
        <!--<p>Awesome theme for your Business or Corporate site to showcase <br/>
          your product and service.</p>-->
      </div>

      <!-- <a class="hero-button learn-more smoothscroll text-center" href="#features">Learn More</a>-->
      <!-- <div class="hero-img"> <img src="images/homepage-1204-background-lapto.png" alt="" class="text-center animated fadeInUpBig"/></div>-->
    </div>
  </div>
</section>
<section id="aboutUs">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>About Us</h2>
      <p>We take care of our Customers, that's why we've been in the business as long as we have and have many repeat customers.
        <br>
        <a class="btn btn-lg btn-default" href="mailto:winwinautogroup@gmail.com">Email Us!</a>
        		<a class="btn btn-lg btn-default" href="callto:8778877949">(877) 887-7949</a> </p>
    </div>
    <div class="row feature design">
      <div class="six columns right">
        <p><strong>Welcome to Win-Win Auto Center, home of the best used cars in Hialeah, FL. We have worked hard to build a reputation for selling high quality used cars backed by extraordinary service. Most of our business is done with individuals who've never even driven the vehicle or seen it in person prior to purchasing. Only two things make that possible: unequaled quality and a high level of service.</strong></p>
        <p>We offer a variety of car financing programs to meet the individual needs of our customers. We provide our customers with a variety of extended warranty plans to protect their used car after a purchase has been made. </p>
      </div>
      <div class="six columns feature-media left"> <img src="images/approved.jpg" alt=""> </div>
    </div>
  </div>
</section>


<section id="approval" class="page-section colord features">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>Get <strong>Approved</strong></h2>
      <p>At Win win, we say Yes when others say no. Come by and see why we are the future of car buying. </p>
    </div>
    <div class="row">

      <!-- FEATURES LEFT -->
      <div class="col-md-4 col-sm-4 features-left wow">

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon"> <i class="icon_map_alt"></i>
            	<br>

            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Guaranteed Approval</h4>
            <p> Come with the confidence that you will leave with the car of your dreams. </p>
          </div>
        </div>
        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon"> <i class="icon_gift_alt"></i> </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Amazing Inventory</h4>
            <p> We invest into our cars! That means custom rims, paint, and performance parts! <br><br> <%= link_to "See our Cars", "http://www.winwinautocenter.com/vehicles", :class => "btn-success btn-lg" %></p>
          </div>
        </div>
        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon"> <i class="icon_tablet"></i> </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Awesome Customer Support</h4>
            <p> Don't deal with dealerships that leave you in the dust after your sale. We care! </p>
          </div>
        </div>
        <!-- /END SINGLE FEATURE -->

      </div>
      <!-- /END FEATURES LEFT -->

      <!-- PHONE IMAGE -->
      <div class="col-md-4 col-sm-4">
        <div class="phone-image wow"> <img src="images/carfaxfox.png" alt=""> </div>
      </div>

      <!-- FEATURES RIGHT -->
      <div class="col-md-4 col-sm-4 features-right wow" >

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon"> <i class="icon_genius"></i> </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Great Location</h4>
            <p> We are located in South Florida, in Opalacka. </p>
          </div>
        </div>
        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon"> <i class="icon_lightbulb_alt"></i> </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Carfax Guarantee</h4>
            <p> All of our vehicles come with a Carfax, for your peace of mind! </p>
          </div>
        </div>

        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon"> <i class="icon_ribbon_alt"></i> </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Contact us today!</h4>
            <p> What are you waiting for, Give us a call. <br><br><a href="callto:8778877949" class="scroll-top btn-lg btn-success animated bounceInLeft">Call Us!</a></p>

          </div>
        </div>
        <!-- /END SINGLE FEATURE -->

      </div>
      <!-- /END FEATURES RIGHT -->

    </div>
  </div>
  <!--/.container-->
</section>



<section id="team" class="page-section">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>What people say about us!</h2>
      <!-- <p>At variations of passages of Lorem Ipsum available, but the majority have suffered alteration..</p> -->
    </div>
    <!-- Team Member's Details -->
    <div class="team-content">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <!-- Team Member -->
          <div class="team-member pDark">
            <!-- Image Hover Block -->
            <div class="member-img">
              <!-- Image  -->
               <img id="cent" class="img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xat1/v/t1.0-1/p56x56/12107965_10206667003172664_9115300106198992482_n.jpg?oh=880982e60acc0ad2254675e560d8bee9&oe=56947FAD&__gda__=1456494730_4dd70ddb4910b0e6884aa8d4d45bcb43" alt=""></div>
            <!-- Member Details -->
            <h4>Lisa Quintero</h4>
            <!-- Designation -->

            <div class="team-socials">
            	<h4>Best cars in the state of Florida.</h4>
            </div>
          </div>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12">
          <!-- Team Member -->
          <div class="team-member pDark">
            <!-- Image Hover Block -->
            <div class="member-img">
              <!-- Image  -->
              <img id="cent" class="img-responsive" src="https://scontent.xx.fbcdn.net/hprofile-xtf1/v/t1.0-1/p56x56/11659500_10206656983720917_1154282548163562005_n.jpg?oh=7b889e6e240de90e267826097b007fae&oe=569A8E90" alt=""> </div>
            <!-- Member Details -->
            <h4>Joseph Dion</h4>
            <!-- Designation -->
           	<div class="team-socials">
            	<h4>Thank you!!! Love my Car!!!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<section id="contactUs" class="contact-parlex">
  <div class="parlex-back">
    <div class="container">
      <div class="row">
        <div class="heading text-center">
          <!-- Heading -->

        </div>
      </div>
      <div class="row mrgn30">
        <div class="jumbotron">
        	<div class="container">
        		<div id="centify">
        			<h1><span>Contact us Via Phone or Email</span></h2>
        		<a class="btn btn-lg btn-default" href="mailto:winwinautogroup@gmail.com">Email Us!</a>
        		<a class="btn btn-lg btn-default" href="callto:8778877949">Call Us!</a>
        		<br>
        		<p>Or Drop us a line.</p>
        		<a class="btn btn-lg btn-default" href="https://docs.google.com/forms/d/1JTFy06FoHgKDA05Ul6JdWwA-f262pCse4zL6FQnt_n0/viewform?usp=send_form">Leave Us a Message!</a>

        		</div>

        	</div>
        </div>
      </div>
    </div>
    <!--/.container-->
  </div>
</section>
<footer>
  <div class="container">
    <div class="social text-center">
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
    	<a href="#"><i class="fa fa-google-plus"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>

    </div>
    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
</footer>
<!--/.page-section-->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"> Copyright 2015 | All Rights Reserved -- Development by <a href="http://deepbluedev.co">Deepbluedev</a> </div>
    </div>
    <!-- / .row -->
  </div>
</section>
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68579112-1', 'auto');
  ga('send', 'pageview');

</script>